/**
 * @title Style Sheet for The Seasar Server
 * @revision $Id: 0.0 $
 */

/*********************************************
 * link
 */

a:link		{ color: #666666; background-color: transparent; }
a:visited	{ color: #666666; background-color: transparent; }
a:active	{ text-decoration: underline; }
a:hover		{ color: #8d1d1d; text-decoration: underline; }

/*********************************************
 * global
 */

body {
	background-color	: white;
	text-align			: left;
	margin				: 1em;
}

div.header {
	padding 			: 5px;
}

div.article {
	float				: left;
	width 				: 95%;
	margin-left			: 1em;
	margin-top			: 0em;
	padding-right		: 1em;
	border				: none;
}

div.footer {
	clear				: both;
}

div.address {
	text-align			: right;
	color				: #666699;
}

img {
	border: none;
}

hr {
	color				: #001a3e;
	height				: 1px
}

pre {
	border				: 1px solid;
	padding				: 4px;
	margin-left			: 5em;
	font-size			: 90%;
}

h1 {}

h2 {
	padding-left		: 24px;
	background-repeat	: no-repeat;
	background-image	: url(images/item_large_g.gif);
}

h3 {
	padding-left		: 24px;
	margin-left			: 0.5em;
	background-repeat	: no-repeat;
	background-image	: url(images/item_large_b.gif);
}

h4 {
	margin-left			: 1.5em;
}

address {
	color				: #001a3e;
	font-style			: normal;
	padding				: 1em;
}

/*********************************************
 * article
 */

div.article div.list {
	margin				: 0px 4px 0px 4px;
	padding				: 0em 1em 1em 1em;
}

div.article div.section p {
	margin				: 1em;
}

div.article li {
	list-style-image	: url(images/item_little.gif);
}

div.article li li {
	list-style-image	: none;
}

div.day {
	font-weight			: bold;
	color				: #8d1d1d;
	margin-left			: 1em;
	border-bottom		: 1px solid #001a3e;
}

div.footnote {
	text-align			: left;
	color				: #8d1d1d;
	margin				: 0em 0em 0em 1em
}

/*********************************************
 * table
 */

table.list {
	border				: 1px solid;
	margin				: 1% 1em 1em 1%;
}

table.list th {
	background-color	: #ccc;
	text-align			: left;
	font-weight			: bold;
	border				: 0px;
	margin				: 0px;
}

table.list tr.a {
	background-color	: #eee;
	border				: 0px;
	margin				: 0px;
}

table.list tr.b {
	background-color	: #fff;
	border				: 0px;
	margin				: 0px;
}

/*********************************************
 * special
 */
pre.dos {
	color				: white;
	background-color	: black;
	margin				: 16px;
	padding				: 5px;
}

pre.source {
	border				: 1px solid black;
	color				: #292929;
	margin				: 16px;
	padding: 5px;
}
